.buttonsContainer {
    display: flex;
    gap: 24px;
    margin-bottom: 60px;
}

.responseContainer {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.imageContainer {}

.image {
    width: 346px;
    height: 220px;
}

.textContainer {
    white-space: "pre-line";
}

.code {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 12px;
}

.text {
    max-width: 510px;
    white-space: "pre-line";
}

.info {}