* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.5px;

}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

pre {
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.5px;
}